Options -Indexes
Deny from all
<FilesMatch "\.(php|db)$">
    Deny from all
</FilesMatch>
<Files "index.php">
    Allow from all
</Files>
<Files "install.php">
    Allow from all
</Files>
<Files "setup.php">
    Allow from all
</Files>
